@import "styles/colors.scss";

.common {
  border-radius: 10px;
  min-width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  &:active {
    opacity: .5;
  }
}

.primary {
  color: $background;
  background: $base;
  border: none;
  outline: none;
}

.outlined {

}
