@import "../../../styles/colors";

.todo {
  position: relative;
  color: $secondary-text;
  //-webkit-box-shadow: 26px 134px 232px -75px rgba(125, 125, 183, 0.68);
  //-moz-box-shadow: 26px 134px 232px -75px rgba(125, 125, 183, 0.68);
  //box-shadow: 26px 134px 232px -75px rgba(125, 125, 183, 0.68);
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px $border-todo solid;

  h3 {
    text-align: center;
  }

  .footer {
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    .text {
      font-weight: bold;
    }

    .label {
      font-weight: normal;
      opacity: .8;
    }
  }

  .iconWrapper {
    width: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 50px;
  }

  .done {
    position: absolute;
    top: 20px;
    left: 50px;
  }
}

.inProcess {
  background: linear-gradient(0deg, $background-todo-in-process 0%, $base-pale 20%);
}

.complete {
  background: linear-gradient(0deg, $background-todo-complete 0%, $base-pale 20%);
}

.expired {
  background: linear-gradient(0deg, $background-todo-expired 0%, $base-pale 20%);
}
