$background: #ECECECFF;
$base: #7d7db7;
$base-pale: rgba(253, 243, 174, 0.18);
$primary-text: #191928;
$secondary-text: #2e2e49;
$error: #FC7D7DFF;
$background-todo-complete: rgba(35, 197, 26, 0.32);
$background-todo-in-process: rgba(222, 204, 0, 0.32);
$background-todo-expired: rgba(252, 125, 125, 0.32);
$border-todo: #202036FF;

$background-todo-comple: rgb(36, 147, 30);
