@import "colors";

.signIn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1 {
    color: $primary-text;
  }

  .change {
    color: $secondary-text;
    &:hover{
      cursor: pointer;
      color: $base;
    }
  }
}
