@import "styles/colors";

.radioButton {
  display: inline-flex;
  align-items: center;


  .radio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 15px;
    min-height: 15px;
    margin-right: 5px;

    input {
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      box-sizing: border-box;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      border: 2px solid $base;

      display: grid;
      place-content: center;

      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      .form-control:focus-within {
        color: $base;
      }

      &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        background-color: $base;
      }

      &:checked::before {
        transform: scale(1);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  label {
    color: $base;

    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
}


